@import url('https://fonts.googleapis.com/css2?family=Roboto');
*{
    font-family: 'Roboto';
    }
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 15px;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    height: 50px;
    flex-shrink: 0;

}

.logo{
    font-size: 26px;
    font-weight: bolder;
    color: #f9faf8;
}
.header.links{
    font-size: 18px;
    color: #e5e7eb;
}
li{
    margin:12px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}