@import url('https://fonts.googleapis.com/css2?family=Roboto');
/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/
*{
    font-family: 'Roboto';
    background-color: #1f2937;
    }
.page1{
    min-width: 1000px;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 15px;
    margin-left: 10vh;
    margin-right: 10vh;
    align-items: center;
    height: 50px;
}

.logo{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}
.header.links{
    font-size: 18px;
    margin:0;
    color: #e5e7eb;
}
li{
    margin:12px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.container1{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 5vh;
    padding-left: 0vh;
    padding-right: 0vh;
}
.mainText{
    font-size: 50px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 12px;
    flex-wrap: wrap;
}
.text1{
    display: flex;
    flex-direction: column;
    }
.subText{
    font-size: 18px;
    color: #e5e7eb;
    padding: 12px;
    width: 500px;
}
.button.sign{
    border: 0;
    background-color: #3882f6;
    color: #e5e7eb;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.button:hover{
    filter: brightness(.9);
}
.button:active{
    transform: translateY(4px);
}
.mainImg{
    width: 60vh;
    }
img{
    width: 60vh;
}